@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Outfit:wght@400;600;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-rheem-red: #E31837;
  --color-rheem-dark: #333333;
  --color-rheem-light: #F4F4F4;
  
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;
}

@layer base {
  body {
    @apply bg-slate-100 text-rheem-dark font-sans antialiased;
  }
}

/* Custom Slider Styles to match Rheem branding */
input[type=range] {
  @apply appearance-none bg-transparent cursor-pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  @apply w-full h-2 bg-slate-200 rounded-full border border-slate-300;
}

input[type=range]::-webkit-slider-thumb {
  @apply appearance-none h-6 w-6 rounded-full bg-rheem-red -mt-2 shadow-md transition-transform hover:scale-110 active:scale-95;
}

input[type=range]::-moz-range-track {
  @apply w-full h-2 bg-slate-200 rounded-full border border-slate-300;
}

input[type=range]::-moz-range-thumb {
  @apply appearance-none h-6 w-6 rounded-full bg-rheem-red border-none shadow-md transition-transform hover:scale-110 active:scale-95;
}
